<app-header></app-header>

<br> 

<div class="col-md5"> 
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Catalogo 1</li>
    </ol>
</div>

<h1 class="title-catologo1">Animes</h1>

<br>

<body>
    
    <div class="content-card">
        <div class="card">
            <img src="../../../assets/image1.jpg" alt="">
            <div class="description">
                <h1>Title</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, minima non esse suscipit officia mollitia quae iure. Voluptatem eligendi, temporibus ab, numquam perferendis quibusdam laboriosam illum maiores a nam fugiat!</p>
                <a href="#" class="btn"> Ver </a>
            </div>
        </div>
    </div>
    
    <div class="content-card">
        <div class="card">
            <img src="../../../assets/image2.jpg" alt="">
            <div class="description">
                <h1>Title</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, minima non esse suscipit officia mollitia quae iure. Voluptatem eligendi, temporibus ab, numquam perferendis quibusdam laboriosam illum maiores a nam fugiat!</p>
                <a href="#" class="btn"> Ver </a>
            </div>
        </div>
    </div>
    
    <div class="content-card">
        <div class="card">
            <img src="../../../assets/image3.jpg" alt="">
            <div class="description">
                <h1>Title</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, minima non esse suscipit officia mollitia quae iure. Voluptatem eligendi, temporibus ab, numquam perferendis quibusdam laboriosam illum maiores a nam fugiat!</p>
                <a href="#" class="btn"> Ver </a>
            </div>
        </div>
    </div>

</body>

