<!-- ********************** HEADER ********************** -->
<app-header></app-header>

<br>


<!-- ********************** BREADCUMB ********************** -->
<div class="col-md5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Catalogo 1</li>
    </ol>
</div>


<!-- ********************** TITULO CATOLOGO 1 ********************** -->
<h1 class="title-catologo1">Animes</h1>

<br>


<!-- ********************** CONTENEDOR DE CARDS ********************** -->

<div class="container">

  <!-- ********************** CARDS ********************** -->

  <div class="tarjeta" *ngFor="let image of imagenes">
    <img src="{{image.imagen}}" alt="">
    <h2>{{image.anime}}</h2>
    <p>{{image.introduccion}}</p>
    <a (click)="ver(image.anime,'uno',image.imagen)">Leer mas</a>
  </div>

  <br>

</div>

