<app-header></app-header>

<br>

<div class="col-md5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Catalogo 1</li>
    </ol>
</div>

<h1 class="title-catologo1">Animes</h1>

<br>

<div class="container">

  <div class="tajeta">
    <img src="../../../assets/image1.jpg" alt="">
    <h1>Anime</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quidem sed consequuntur officiis blanditiis quo cumque optio atque porro magni quae et reprehenderit odio consectetur laboriosam commodi fuga, quasi aspernatur?</p>
    <a href="">Leer mas</a>

  </div>

  <div class="tajeta" >
    <img src="../../../assets/image2.jpg" alt="">
    <h1>Anime 2</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis culpa nesciunt maxime, perferendis quos velit inventore commodi aliquam corporis exercitationem sequi quam quae excepturi omnis consequatur, autem cum explicabo. Accusantium!</p>
    <a href="">Leer mas</a>

  </div>

  <div class="tajeta" >

  </div>

</div>

