<nav class="navbar navbar-dark bg-dark">

    <!-- Navbar content -->
    <div class="container-fluid" >
        <div class="btn-menu">
            <label for="btn-menu">hola</label>
        </div>
        <a class="navbar-brand">Prueba </a>
    </div>

</nav>

<input type="checkbox" id="btn-menu">
<div class="container">
    <div class="cont-nav">
        <nav>
            <a (click)='catalogo1()'>Catalogo 1</a>
            <a (click)='catalogo2()'>Catologo 2</a>
        </nav>
        <label for="btn-menu" class="icon-exit">X</label>
    </div>
</div>
