<!-- ********************** HEADER ********************** -->
<app-header></app-header>

<br>


<!-- ********************** BREADCUMB ********************** -->
<div class="col-md5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Catalogo 2</li>
    </ol>
</div>

<!-- ********************** TITULO CATALOGO 2 ********************** -->
<h1 class="title-catologo2">Animes</h1>


<!-- ********************** CONTENEDOR DEL CAROUSEL ********************** -->
<div class="container-tarjetas">

  <!-- ********************** CAROUSEL ********************** -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">


      <!-- ********************** CONTENIDO DEL CAROUSEL 1 ********************** -->
      <div class="carousel-item active">
        <img src="../../../assets/image9.jpg" class="d-block w-100" alt="demo-slayer">
        <div class="carousel-caption d-none d-md-block">
          <h1>Kimetsu no Yaiba</h1>
          <p>Kimetsu no Yaiba, también conocida bajo su nombre en inglés Demon Slayer, es una serie de manga escrita e ilustrada por Koyoharu Gotōge, cuya publicación comenzó el 15 de febrero de 2016 en la revista semanal Shūkan Shōnen Jump de la editorial Shūeisha</p>
          <button type="button" class="btn btn-primary" (click)="verDescripcion('Kimetsu no yaiba','dos','../../../assets/image9.jpg')">Ver mas</button>
        </div>
      </div>


      <!-- ********************** CONTENIDO DEL CAROUSEL 2 ********************** -->
      <div class="carousel-item">
        <img src="../../../assets/image10.jpg" class="d-block w-100" alt="Jujutsu-kaisen">
        <div class="carousel-caption d-none d-md-block">
          <h1>Jujutsu Kaisen</h1>
          <p>Jujutsu Kaisen, también conocida como Jujutsu Kaisen: Guerra de hechiceros en España, es una serie de manga japonés escrita e ilustrada por Gege Akutami.</p>
          <button type="button" class="btn btn-primary" (click)="verDescripcion('Jujutsu kaisen','dos','../../../assets/image10.jpg')">Ver mas</button>
        </div>
        <div class="gradiente"></div>
      </div>

      <!-- ********************** CONTENIDO DEL CAROUSEL 3 ********************** -->
      <div class="carousel-item">
        <img src="../../../assets/image8.jpg" class="d-block w-100" alt="atack-on-titans">
        <div class="carousel-caption d-none d-md-block">
          <h1>Shingeki no kyojin</h1>
          <p>Shingeki no Kyojin, también conocida en países de habla hispana como Ataque a los titanes y Ataque de los titanes, ​​ es una serie de manga japonesa escrita e ilustrada por Hajime Isayama.</p>
          <button type="button" class="btn btn-primary" (click)="verDescripcion('Shigeki no kyojin','dos','../../../assets/image8.jpg')">Ver mas</button>
        </div>
      </div>
    </div>


    <!-- ********************** BOTONES DEL CAROUSEL ********************** -->

    <!-- ********************** BOTON PARA REGRESAR ********************** -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <!-- ********************** BOTON PARA CAMBIAR ********************** -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>


