// ***** DISEÑO DE TITULO *****
.title-catologo2{
  text-align: center;
}


// ***** DISEÑO DEL BREADCUMB *****
.col-md5{
    margin-left: 8%;
}


// ***** DISEÑO DEL CONTENEDOR DEL CAROUSEL *****
.container-tarjetas{
  width: 60%;
  margin-left: 20%;
}


// ***** DISEÑO DEL CONTENEDOR DE TEXTO DE LAS IMAGENES QUE VAN DENTRO DEL CAROUSEL *****
.carousel-caption{
  background: #000;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  background-color: rgba(0, 0, 0, .5);
}

