<app-header></app-header>
<br>

<div class="col-md5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a (click)='verCatalogo()'>Catologo 1</a></li>
        <li class="breadcrumb-item active" aria-current="page">Descripcion</li>
    </ol>
</div>

<div class="container-description">
    <div class="slidebar">
        <img src="../../../assets/image1.jpg" alt="">
    </div>
    <article class="main">
      <h1>Demon Slayer</h1>
      <h3>Sipnosis</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam totam animi adipisci, ducimus, laborum alias reiciendis, numquam neque consequuntur tempora tempore repellat? Nostrum, vero. Quo veritatis minima nihil alias accusamus?</p>
    </article>
</div>
